
img {
	width: 100px;
    margin: 0 0 10px 10px;
}

.img-box{
	width: 125px;
	float: middle;
}

.img-box img{
	margin-left: auto;
}

p {
	margin: 4pt 12pt;
}

p2 { 	
	margin: 4pt 12pt;
	color : blue;
}

h1{
	margin: 10pt 10pt;
	font-size: 50pt;
	font-family: "Vivaldi", "Comic Sans MS", cursive, sans-serif;
	color : blueviolet;
}



a {
	border: 1px solid blue;
	background-color: #D1DCFF;
}



@font-face {
font-family: 'Everything';
src: url('Everything.otf');
}

#custom  { font-family: Everything; 

  }

body { 
	margin: 0;
	padding: 0;
	background: url(bg.jpg) no-repeat;
}
footer { position: middle; bottom: 0pt; left: 0pt; background-color: #D1DCFF; }
header { background-color: darkslateblue; }

header li { display: inline; }
li>a { color: inherit; text-decoration: blue; }

.thumb {
display: inline-block;
color: black
}

.thumb:hover{ width: 60px;height:15px;background-color:#72899F; } 

.iteme{
	display: inline-block;
	color: black
	background-color: #7F99B1;
}
.iteme:hover{
	color:white;
}
